header
  .container
    input#toggle-ham(type='checkbox' name='')
    .logo-container
      h3.logo
        | A
        span G
    .nav-ctn
      nav
        ul
          li.nav-link(style='--i: .6s')
            a(href='#') Home
          li.nav-link(style='--i: .85s')
            a(href='#')
              | Menu
              i.fas.fa-caret-down
            .dropdown
              ul
                li.dropdown-link
                  a(href='#') Link 1
                li.dropdown-link
                  a(href='#') Link 2
                li.dropdown-link
                  a(href='#')
                    | Link 3
                    i.fas.fa-caret-down
                  .dropdown.second
                    ul
                      li.dropdown-link
                        a(href='#') Link 1
                      li.dropdown-link
                        a(href='#') Link 2
                      li.dropdown-link
                        a(href='#') Link 3
                      li.dropdown-link
                        a(href='#')
                          | More
                          i.fas.fa-caret-down
                        .dropdown.second
                          ul
                            li.dropdown-link
                              a(href='#') Link 1
                            li.dropdown-link
                              a(href='#') Link 2
                            li.dropdown-link
                              a(href='#') Link 3
                            .arrow
                      .arrow
                li.dropdown-link
                  a(href='#') Link 4
                .arrow
          li.nav-link(style='--i: 1.1s')
            a(href='#')
              | Services
              i.fas.fa-caret-down
            .dropdown
              ul
                li.dropdown-link
                  a(href='#') Link 1
                li.dropdown-link
                  a(href='#') Link 2
                li.dropdown-link
                  a(href='#')
                    | Link 3
                    i.fas.fa-caret-down
                  .dropdown.second
                    ul
                      li.dropdown-link
                        a(href='#') Link 1
                      li.dropdown-link
                        a(href='#') Link 2
                      li.dropdown-link
                        a(href='#') Link 3
                      li.dropdown-link
                        a(href='#')
                          | More
                          i.fas.fa-caret-down
                        .dropdown.second
                          ul
                            li.dropdown-link
                              a(href='#') Link 1
                            li.dropdown-link
                              a(href='#') Link 2
                            li.dropdown-link
                              a(href='#') Link 3
                            .arrow
                      .arrow
                li.dropdown-link
                  a(href='#') Link 4
                .arrow
          li.nav-link(style='--i: 1.35s')
            a(href='#') About
      .log-sign(style='--i: 1.8s')
        a.btn.transparent(href='#') Log in
        a.btn.solid(href='#') Sign up
    .hamburger-menu-container
      .hamburger-menu
        div
main
  section
    .overlay 
    .content One
  section
    .overlay 
    .content Two
